name: CI

on: [pull_request]

jobs:
  build:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        node:
          - 22
          - 20
        platform:
          - ubuntu-latest
    name: "${{matrix.platform}} / Node.js ${{ matrix.node }}"
    runs-on: ${{matrix.platform}}

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - run: pnpm install

      - name: run ci
        run: pnpm run ci
