html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: auto;
}

a {
    color: #2458B3;
}

.language-javascript, .language-text, .language-json {
    border-radius: 10px;
}
