html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: auto;
}

a {
    /* color: #1F4B99; */
    color: #6B9FA1;
}

h1 {
    /* color: #6B9FA1; */
    color: #1F4B99;
}

.language-javascript, .language-text, .language-json {
    border-radius: 10px;
}
